version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: betting_bot/Docker/Dockerfile
    container_name: bet-bot-web
    command: gunicorn betting_bot.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: bet-bot-db
    environment:
      POSTGRES_DB: betbot
      POSTGRES_USER: betbot
      POSTGRES_PASSWORD: betbot
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
