- name: Deploy Bet-Bot
  run: |
    ssh ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} "
      set -e
      cd /var/www/bet-bot

      git fetch origin main
      git reset --hard origin/main
      git clean -fd

      echo '--- SERVER docker-compose.yml (top) ---'
      sed -n '1,60p' docker-compose.yml

      docker-compose up -d --build --remove-orphans
      docker ps
    "
